<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue!</title>
</head>
<body>
    
    <div id="app">
        <h1>{{titulo}}</h1>

        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>
       
        <ul>
            <li v-for="verdura of verduras">
                {{verdura.nombre}} - {{verdura.cantidad}}
                <span v-if="verdura.cantidad === 0"> - Sin stock</span>
            </li>     
        </ul>

        <input type="text" v-model="nuevaVerduraNombre" @keyup.enter=agregarVerdura>
        <input type="text" v-model="nuevaVerduraCantidad" @keyup.enter=agregarVerdura>
        <button v-on:click="agregarVerdura">Agregar</button>
        <button @click="agregarVerdura">Agregar</button>


        <div>
            <ul>
                <li v-for="verdura of verduras">
                    <input type="number" v-model.number="verdura.cantidad" @keyup.enter=agregarVerdura>
                    {{verdura.nombre}}
                    <span v-if="verdura.cantidad === 0"> - Sin stock</span>
                    <button @click="verdura.cantidad++"> + </button>                
                </li>     
            </ul>
            <h4>Total: {{sumarVerduras}}</h4>
        </div>
  

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script.js"></script>    
</body>
</html>