<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue!</title>
</head>
<body>
    
    <div id="app">
        <h1>{{titulo}}</h1>

        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>
       
        <ul>
            <li v-for="verdura of verduras">
                {{verdura.nombre}}
                <span v-if="verdura.cantidad === 0"> - Sin stock</span>
            </li>
            
            
        </ul>

        <input type="text" v-model="nuevaVerdura">
        <button v-on:click="agregarVerdura">Agregar</button>
        <button @click="agregarVerdura">Agregar</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script.js"></script>    
</body>
</html>